In [1]:
import pandas as pd

In [5]:
bundesliga = pd.read_csv("bundesliga.csv", index_col=0)

In [7]:
bundesliga.head()

                  Position      League  Goals  Assists     xG     xA  Mins
Name
Kevin Anderson      Winger  Bundesliga      7       14  14.87   8.13  1460
Andrea Nicholson   Striker  Bundesliga     14        3  28.27  15.94  2946
Jack Mcgee         Striker  Bundesliga     14       11   8.14   9.02  3435
Katherine Hopkins   Winger  Bundesliga     20        3  23.43  19.13  3129
Donald Nguyen      Striker  Bundesliga     16       12  29.36  19.36  3250

In [9]:
laliga = pd.read_csv("La Liga.csv", index_col=0)

In [11]:
laliga.head()

                     Position   League  Goals  Assists     xG     xA  Mins
Name
Angela Long           Striker  La Liga     16       12  11.72  14.94  2505
Elizabeth Williamson   Winger  La Liga      6       11  14.21   5.92  3114
Alan Garza            Striker  La Liga     23       12  27.38  11.50   853
Crystal Allen         Striker  La Liga      9        7  21.66  10.00  3375
Kristin Williams DVM  Striker  La Liga     12       13  24.68  17.80  1415

In [17]:
laliga.tail()

                 Position   League  Goals  Assists     xG     xA  Mins
Name
Brian Brown        Winger  La Liga      8       11  18.92  14.12  1791
David Lee         Striker  La Liga      6        8  15.39  18.12  2751
Shannon Jones      Winger  La Liga      8       13  15.72  12.84  3054
Makayla Robinson  Striker  La Liga      5       11  18.52  13.75  2058
Kristi Hamilton    Winger  La Liga     23        9  22.41   5.66  1314

In [19]:
laliga.describe()

            Goals     Assists          xG          xA         Mins
count  100.000000  100.000000  100.000000  100.000000   100.000000
mean    14.320000    8.460000   16.609000   11.621900  2155.010000
std      6.269825    3.534591    6.901613    4.735416   828.584536
min      5.000000    3.000000    5.050000    3.090000   853.000000
25%      9.000000    5.000000   10.830000    7.167500  1413.000000
50%     13.500000    9.000000   16.020000   12.160000  2092.500000
75%     20.000000   12.000000   22.185000   15.757500  2881.250000
max     24.000000   14.000000   29.000000   19.950000  3445.000000

In [21]:
laliga.describe(include='object')

       Position   League
count       100      100
unique        2        1
top     Striker  La Liga
freq         56      100

In [26]:
championship = pd.read_csv("championship.csv", index_col=0)

In [28]:
championship.head()

                Position        League  Goals  Assists     xG     xA  Mins
Name
Leslie Mendez     Winger  Championship      7        4  28.11   6.01  1206
Brenda Castillo  Striker  Championship     17        5  24.65   8.00  2753
Jessica Garza    Striker  Championship     17       14  19.75   4.95  2873
James Brown      Striker  Championship      6       10   5.16  19.01  1785
Brenda Pitts      Winger  Championship      9        3  24.31  16.33  1189

In [30]:
championship.head()

                Position        League  Goals  Assists     xG     xA  Mins
Name
Leslie Mendez     Winger  Championship      7        4  28.11   6.01  1206
Brenda Castillo  Striker  Championship     17        5  24.65   8.00  2753
Jessica Garza    Striker  Championship     17       14  19.75   4.95  2873
James Brown      Striker  Championship      6       10   5.16  19.01  1785
Brenda Pitts      Winger  Championship      9        3  24.31  16.33  1189

In [33]:
championship.head()

                Position        League  Goals  Assists     xG     xA  Mins
Name
Leslie Mendez     Winger  Championship      7        4  28.11   6.01  1206
Brenda Castillo  Striker  Championship     17        5  24.65   8.00  2753
Jessica Garza    Striker  Championship     17       14  19.75   4.95  2873
James Brown      Striker  Championship      6       10   5.16  19.01  1785
Brenda Pitts      Winger  Championship      9        3  24.31  16.33  1189

In [35]:
portugal = pd.read_csv("Liga Portugal.csv", index_col=0)

In [37]:
portugal.head()

                  Position         League  Goals  Assists     xG     xA  Mins
Name
Jill Sutton         Winger  Liga Portugal      7        7  17.31  11.90  3389
Christine Butler   Striker  Liga Portugal     20        4  20.84   7.80  2101
Lisa Cole          Striker  Liga Portugal     10       13  25.14   8.07  1889
Alyssa Weaver      Striker  Liga Portugal     16        6  14.95   7.72  2955
Barbara Patterson   Winger  Liga Portugal     15       12  25.15  16.12  3115

In [39]:
prem = pd.read_csv("Premier League.csv", index_col=0)

In [41]:
prem.head()

                  Position          League  Goals  Assists     xG     xA  Mins
Name
Kevin Anderson      Winger  Premier League      5       10  13.50   8.31  1245
Andrea Nicholson   Striker  Premier League     11        2  28.34  15.32  2904
Jack Mcgee         Striker  Premier League     11        9   8.43   8.71  2955
Katherine Hopkins   Winger  Premier League     12        2  25.45  17.49  3125
Donald Nguyen      Striker  Premier League      9       11  30.07  18.78  3226

In [43]:
#make columns ints -> numerate leagues 1-5; position 1-2, name to IDs

In [45]:
mapping = {'Winger': 2, 'Striker': 1}

In [51]:
bundesliga['Position'] = bundesliga['Position'].map(mapping)
championship['Position'] = championship['Position'].map(mapping)
laliga['Position'] = laliga['Position'].map(mapping)
portugal['Position'] = portugal['Position'].map(mapping)
prem['Position'] = prem['Position'].map(mapping)

In [53]:
bundesliga.head()

                   Position      League  Goals  Assists     xG     xA  Mins
Name
Kevin Anderson            2  Bundesliga      7       14  14.87   8.13  1460
Andrea Nicholson          1  Bundesliga     14        3  28.27  15.94  2946
Jack Mcgee                1  Bundesliga     14       11   8.14   9.02  3435
Katherine Hopkins         2  Bundesliga     20        3  23.43  19.13  3129
Donald Nguyen             1  Bundesliga     16       12  29.36  19.36  3250

In [63]:
portugal.head(1)

             Position         League  Goals  Assists     xG    xA  Mins
Name
Jill Sutton         2  Liga Portugal      7        7  17.31  11.9  3389

In [65]:
leagues = {'Premier League': 1, 'Championship': 2, 'Bundesliga': 3, 'La Liga': 4, 'Liga Portugal': 5}

In [67]:
leagues

{'Premier League': 1,
 'Championship': 2,
 'Bundesliga': 3,
 'La Liga': 4,
 'Liga Portugal': 5}

In [69]:
bundesliga['League'] = bundesliga['League'].map(leagues)
championship['League'] = championship['League'].map(leagues)
laliga['League'] = laliga['League'].map(leagues)
portugal['League'] = portugal['League'].map(leagues)
prem['League'] = prem['League'].map(leagues)

In [71]:
prem.head()

                   Position  League  Goals  Assists     xG     xA  Mins
Name
Kevin Anderson            2       1      5       10  13.50   8.31  1245
Andrea Nicholson          1       1     11        2  28.34  15.32  2904
Jack Mcgee                1       1     11        9   8.43   8.71  2955
Katherine Hopkins         2       1     12        2  25.45  17.49  3125
Donald Nguyen             1       1      9       11  30.07  18.78  3226

In [73]:
#Create a list of names and their id number: and then use that list to give ID numbers to prem

In [89]:
all_leagues

[                   Position  League  Goals  Assists     xG     xA  Mins
 Name
 Kevin Anderson            2       3      7       14  14.87   8.13  1460
 Andrea Nicholson          1       3     14        3  28.27  15.94  2946
 Jack Mcgee                1       3     14       11   8.14   9.02  3435
 Katherine Hopkins         2       3     20        3  23.43  19.13  3129
 Donald Nguyen             1       3     16       12  29.36  19.36  3250
 ...                     ...     ...    ...      ...    ...    ...   ...
 Cheryl Cunningham         2       3      6        8  28.27  14.55   952
 Robert Simmons            2       3     22        3  17.43   6.82  2458
 Henry Steele              1       3      6        6  10.76  10.33  2656
 Angela Smith              2       3     15        9   6.11  15.23  2014
 Thomas Bartlett           1       3     13        4  15.39  12.58  2552

 [100 rows x 7 columns],
                   Position  League  Goals  Assists     xG     xA  Mins
 Name
 Leslie Mendez            2       2      7        4  28.11   6.01  1206
 Brenda Castillo          1       2     17        5  24.65   8.00  2753
 Jessica Garza            1       2     17       14  19.75   4.95  2873
 James Brown              1       2      6       10   5.16  19.01  1785
 Brenda Pitts             2       2      9        3  24.31  16.33  1189
 ...                    ...     ...    ...      ...    ...    ...   ...
 Jennifer Gregory         2       2     14        4   5.13   7.69  1829
 Joseph Johnson           2       2      6       13   6.50   6.47  3471
 Isabel Flowers           2       2     13        9  27.62   3.28  3223
 Shawn Taylor             2       2     17       10  21.19  14.55  1246
 Riley Anderson           2       2     20       10  11.83   4.30  1634

 [100 rows x 7 columns],
                       Position  League  Goals  Assists     xG     xA  Mins
 Name
 Angela Long                  1       4     16       12  11.72  14.94  2505
 Elizabeth Williamson         2       4      6       11  14.21   5.92  3114
 Alan Garza                   1       4     23       12  27.38  11.50   853
 Crystal Allen                1       4      9        7  21.66  10.00  3375
 Kristin Williams DVM         1       4     12       13  24.68  17.80  1415
 ...                        ...     ...    ...      ...    ...    ...   ...
 Brian Brown                  2       4      8       11  18.92  14.12  1791
 David Lee                    1       4      6        8  15.39  18.12  2751
 Shannon Jones                2       4      8       13  15.72  12.84  3054
 Makayla Robinson             1       4      5       11  18.52  13.75  2058
 Kristi Hamilton              2       4     23        9  22.41   5.66  1314

 [100 rows x 7 columns],
                     Position  League  Goals  Assists     xG     xA  Mins
 Name
 Jill Sutton                2       5      7        7  17.31  11.90  3389
 Christine Butler           1       5     20        4  20.84   7.80  2101
 Lisa Cole                  1       5     10       13  25.14   8.07  1889
 Alyssa Weaver              1       5     16        6  14.95   7.72  2955
 Barbara Patterson          2       5     15       12  25.15  16.12  3115
 ...                      ...     ...    ...      ...    ...    ...   ...
 Michael Everett            1       5      8        3  17.30   9.32  3195
 Debra Hunt                 2       5     23        5  24.91  13.44   828
 John Robertson             1       5     14       14  10.81  11.90   834
 Danielle Osborne           1       5      7        6  10.65   8.43  2219
 Christina Martinez         2       5     23       10  18.78  10.99  3470

 [100 rows x 7 columns]]

In [91]:
all_names = pd.concat(all_leagues)

In [93]:
unique_names = all_names.index.unique()

In [99]:
name_to_id = {name: i+1 for i, name in enumerate(unique_names)}

In [101]:
for df in all_leagues:
    df['ID'] = df.index.map(name_to_id)

In [103]:
df.head()

                   Position  League  Goals  Assists     xG     xA  Mins   ID
Name
Jill Sutton               2       5      7        7  17.31  11.90  3389  300
Christine Butler          1       5     20        4  20.84   7.80  2101  301
Lisa Cole                 1       5     10       13  25.14   8.07  1889  302
Alyssa Weaver             1       5     16        6  14.95   7.72  2955  303
Barbara Patterson         2       5     15       12  25.15  16.12  3115  304

In [105]:
df.describe()

,Position,League,Goals,Assists,xG,xA,Mins,ID
count,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.470000,5.0,15.150000,8.930000,18.297400,11.364000,2152.860000,349.500000
std,0.501614,0.0,5.691346,3.806573,7.287454,4.948122,777.826693,29.011492
min,1.000000,5.0,6.000000,3.000000,5.340000,3.000000,818.000000,300.000000
25%,1.000000,5.0,9.750000,5.000000,12.635000,7.580000,1539.750000,324.750000
50%,1.000000,5.0,15.500000,10.000000,18.805000,11.275000,2227.000000,349.500000
75%,2.000000,5.0,19.250000,12.000000,25.142500,15.037500,2724.750000,374.250000
max,2.000000,5.0,24.000000,14.000000,29.870000,19.940000,3470.000000,399.000000

In [107]:
df.head(400)

                    Position  League  Goals  Assists     xG     xA  Mins   ID
Name
Jill Sutton                2       5      7        7  17.31  11.90  3389  300
Christine Butler           1       5     20        4  20.84   7.80  2101  301
Lisa Cole                  1       5     10       13  25.14   8.07  1889  302
Alyssa Weaver              1       5     16        6  14.95   7.72  2955  303
Barbara Patterson          2       5     15       12  25.15  16.12  3115  304
...                      ...     ...    ...      ...    ...    ...   ...  ...
Michael Everett            1       5      8        3  17.30   9.32  3195  395
Debra Hunt                 2       5     23        5  24.91  13.44   828  396
John Robertson             1       5     14       14  10.81  11.90   834  397
Danielle Osborne           1       5      7        6  10.65   8.43  2219  398
Christina Martinez         2       5     23       10  18.78  10.99  3470  399

[100 rows x 8 columns]